<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MediRem</title>
  <script src="https://kit.fontawesome.com/846150afa6.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="../static/styles/style1.css" type="text/css" /> -->
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background: #ccc;
      font-size: 10px;
      font-family: "Poppins", sans-serif;
    }

    div .open {
      background-color: rgba(9, 15, 255, 0.08);
      color: rgba(9, 15, 255, 1);
      margin: 2rem;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 0 0.5rem black;
    }

    .open h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    div h4 {
      font-size: 1.5rem;
      text-align: center;
      color: black;
    }

    main {
      background-color: rgba(200, 255, 255, 0.522);
      color: black;
      padding: 2rem;
      /* width: 100%; */
    }

    #medDetails {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      border-radius: 2rem;
    }

    .label {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .input {
      font-size: 1.6rem;
      font-weight: 500;
    }

    input[type="text"] {
      font-size: 1rem;
      font-weight: 300;
      /* width: 11%; */
    }

    button {
      width: 10rem;
      background-color: rgb(10, 41, 242);
      padding: 1rem;
      font-size: 1.5rem;
      border-radius: 1.2rem;
      transition: all 0.3s ease;
    }

    button:hover {
      transform: scale(1.1, 1.1);
      transform: perspective(5);
      transition: all 0.3s ease;
    }
  </style>
</head>

<body>
  <!-- welcome section -->
  <section>
    <div id="container">
      <!-- <i class="fa-solid fa-plus-large" id="add">ADD</i> -->
      <div class="open">
        <h3>Welome to MediRem</h3>
        <h4>Your one stop solution to all your medical needs!!!</h4>
      </div>
    </div>
  </section>
  <!-- yeh just bhi ke liye h -->
  <br> <br> <br> <br> <br>
  <main>
    <div id="medDetails">
      <label for="medName" id="medNameLabel" class="label">Name of medicine :
      </label>
      <input type="text" name="" class="input" id="medName" placeholder="Digene" />

      <label for="medtime" class="label" id="medTimeLabel">Time for medicine :
      </label>
      <input type="time" name="" class="input" id="medtime" value="10:10" />

      <button id="addBtn">
        Add to my med list
      </button>
    </div>
    <a href="signUp.html">Signup now</a>
  </main>
</body>
<script>
  
  // send notifs
  let permission = Notification.permission;
  if (permission === "granted") {
    showNotification();
  } else if (permission === "default") {
    requestAndShowPermission();
  } else {
    alert("Please allow Notifications, else this wont work");
  }
  function showNotification() {
    // if (document.visibilityState === "visible") {
    //   return;
    // }
    var title = "JavaScript Jeep";
    icon = "/static/res/logo.png"
    var body = "Message to be displayed";
    var notification = new Notification('Title', { body, icon });
    // notification.onclick = () => {
    //   notification.close();
    //   window.parent.focus();
    // }
  }
  function requestAndShowPermission() {
    Notification.requestPermission(function (permission) {
      if (permission === "granted") {
        showNotification();
      }
    });
  }
</script>

</html>