<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicines Show</title>
    <link rel="stylesheet" href="/static/styles/showMed.css">
    <script src="/static/scripts/showMed.js"></script>
</head>
<body>
    <main>
        <div class="container">
            <div class="tabs text">
                <ul>
                    <li class="active text"><a href="#tod" id="tod">Today</a></li>
                    <li class="text"><a href="tom" id="tom">tommorow</a></li>
                    <li class="text"><a href="#tweek" id="tweek">This week</a></li>
                </ul>
            </div>
            <div id="tod-list" class="medList text">
                <ol class="medList text">
                    <div class="f">
                    <li>Digine</li>
                    <p class="time" id="one">at 9:00 PM</p>
                    <label for="yes" class="y">✔</label>
                    <input type="radio" value="" class="y" id="yes">
                    <label for="no" class="n">𐄂</label>
                    <input type="radio" value="" class="n" id="no">
                    </legend>
                </div>
                <div class="f">
                    <li>Crocin</li>
                    <p class="time" id="two">at 1:00 PM</p>
                    <label for="yes" class="y">✔</label>
                    <input type="radio" value="" class="y" id="yes">
                    <label for="no" class="n">𐄂</label>
                    <input type="radio" value="" class="n" id="no">
                </div>
                <div class="f">
                    <li>Tordex</li>
                    <p class="time" id="three">at 5:00 PM</p>
                    <label for="yes" class="y">✔</label>
                    <input type="radio" value="" class="y" id="yes">
                    <label for="no" class="n">𐄂</label>
                    <input type="radio" value="" class="n" id="no">
                </div>
                <div class="f">
                    <li>Crocin</li>
                    <p class="time" id="two">at 1:00 PM</p>
                    <label for="yes" class="y">✔</label>
                    <input type="radio" value="" class="y" id="yes">
                    <label for="no" class="n">𐄂</label>
                    <input type="radio" value="" class="n" id="no">
                </div>

                <div class="f">
                    <li>Crocin</li>
                    <p class="time" id="two">at 1:00 PM</p>
                    <label for="yes" class="y">✔</label>
                    <input type="radio" value="" class="y" id="yes">
                    <label for="no" class="n">𐄂</label>
                    <input type="radio" value="" class="n" id="no">
                </div>
                </ul>
                <div class="btn" id="prev">
                <a href="#" class="previous round">&#8249;</a>
                <a href="#" class="next round" id="next">&#8250;</a> 
            </div>

            <div id="tom-list" class="medList text">
                <ol class="medList text">
                    <div class="f">
                    <li>Digine</li>
                    <p class="time" id="one">at 9:00 PM</p>
                    <label for="yes" class="y">✔</label>
                    <input type="radio" value="" class="y" id="yes">
                    <label for="no" class="n">𐄂</label>
                    <input type="radio" value="" class="n" id="no">
                    </legend>
                </div>
                <div class="f">
                    <li>Crocin</li>
                    <p class="time" id="two">at 1:00 PM</p>
                    <label for="yes" class="y">✔</label>
                    <input type="radio" value="" class="y" id="yes">
                    <label for="no" class="n">𐄂</label>
                    <input type="radio" value="" class="n" id="no">
                </div>
            </div>
        </main>
</body>
</html>